$orange-color: #FF9966;
$yellowLight-color:#F3C692;
$yellowPale-color: #F1C161;
$yellow-color: #FFCC74;
$pink-color: #FF9AB4;
$blue-color: #73DCE5;
$black-color: #39414B;
$green-color: #5FBF77;
$white-color: #ffffff;

.App {
  max-width: 100%;
  text-align: center;  
}
